# Drills
Let's confirm some of this new knowledge with a few basic exercises. Write SQL queries to return:

### The IDs and durations for all trips of duration greater than 500, ordered by duration.
SQL:

SELECT 
    trip_id, duration 
FROM 
    trips 
WHERE 
    duration > 500
ORDER BY 
    duration 
DESC

### Every column of the stations table for station id 84.
SQL:

SELECT
	*
FROM 
	stations
WHERE 
	station_id = 84

### The min temperatures of all the occurrences of rain in zip 94301.
SQL:

SELECT mintemperaturef AS min_temp FROM weather WHERE zip = 94301 AND events = 'Rain'